{% extends "base.html.twig" %}

{% block body %}
	<body>


		<main class="container main-content">

			<div class="jumbotron mt-3 bird-detail">
				<h1 class="display-4">{{bird.name}}</h1>

				<div class="row">
					<div class="col-3">
						<img class="bird-card__image" src="{{ asset("images/")}}{{bird.image}}" width="50%">
					</div>
					<div class="col-9">
						<p class="lead">{{bird.description}}</p>
					</div>
				</div>

				<div class="btn-toolbar">


					<p class="button">
						<a class="btn btn-primary btn-lg " href="{{ path("home") }}" role="button">Back to list</a>
					</p>

					 <form method="POST">
                    <input type="hidden" value="{{ bird_id }}" />
                    <button class="btn btn-success btn-lg mx-2" role="button">Add to cart</button>
                </form>

				</div>
			
			</div>

		</main>
	{% endblock %}

